{% extends 'app/base.html' %}

{% block content %}
    <main class="container">
        <div class="row mb-2">
            <div class="row g-5">
                <div class="col-md-8">
                    <article class="blog-post">
                        <h2 class="blog-post-title">Краткое описание сервиса</h2>

                        <p class="blog-text">
                            МестоВпечатлений - это уникальный сервис, который позволяет пользователям сохранять и
                            делиться своими впечатлениями о посещенных местах. Выберите точку на интерактивной карте,
                            напишите комментарий и добавьте название, чтобы создать личную карту воспоминаний или
                            посоветовать места другим путешественникам. Ваше мнение поможет сформировать реальную
                            картину самых интересных уголков мира!”
                        </p>
                    </article>

                </div>
            </div>
        </div>
    </main>
{% endblock %}