{% extends "app/base.html" %}
{% load static %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_maps_api_key }}&lang=ru_RU" type="text/javascript">
    </script>
    <script src="{% static 'app/script/all_maps_view.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        {% for place in places %}
            <div class="card" style="width: 70%;">
                <div class="map card-img-top" data-lat="{{ place.lat }}" data-lng="{{ place.lng }}"></div>
                <div class="card-body">
                    <h5 class="card-title">{{ place.name }}</h5>
                    <p class="card-text">{{ place.comment }}</p>
                    <p class="text-secondary">{{ place.last_modified }}</p>
                    <a href="{{ place.get_absolute_url }}" class="btn btn-primary">Редактировать</a>
                    <p>
                    <form action="{% url 'place_delete_page' place.pk %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Удалить"/>
                    </form>
                    </p>
                </div>
            </div>

        {% empty %}
            <div class="container">
                <p>У вас нет ни одного воспоминания</p>
            </div>
        {% endfor %}

        <div class="create-new-place-btn row-cols-3">
            <a href="{% url 'place_page' %}" class="btn btn-primary">Создать новое воспоминание.</a>

        </div>

        {% if paginator.count > 2 %}
            <nav>
            <ul class="pagination pagination-lg justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for p in paginator.page_range %}

                    {% if page_obj.number == p %}
                        <li class="page-item active"><a class="page-link">{{ p }}</a></li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        </nav>
    </div>
{% endblock %}